.loading-spinner {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.loading-spinner:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #15c3d1;
    border-color: #15c3d1 transparent #15c3d1 transparent;
    animation: loading-spinner 1.2s infinite;
}

@keyframes loading-spinner {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

.form-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 100;
    justify-content: center;
    align-items: center;
}